body{
  background-color: "white";
  margin: 0;                
  padding: 0;  
  text-align: center
}
.title{
  font-size: 25px;
  text-align: center
}
button{
  padding: 14px 40px;
  border-radius: 4px;
  text-align: center
}

.topbar {
  height: 60px;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000
}

.logo-area {
  display: flex;
  align-items: center;
  z-index: 1100;
}
.sitename {
  font-size: 1.2rem;
  font-weight: bold;
}

.search {
  padding: 6px;
  width: 200px;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 160px;
  height: 100%;
  background: #333;
  padding-top: 20px;
}
.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.sidebar a:hover {
  background: #444;
}

.content {
  margin-left: 160px;
  margin-top: 70px;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tile {
  background: #eee;
  text-decoration: none;
  color: black;
  text-align: center;
  border: 2px solid #ccc;
}
.tile img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.tile span {
  display: block;
  padding: 10px;
  background: #fff;
  font-weight: bold;
}
.tile:hover {
  border-color: black;
}

.confirm-container {
  margin-top: 120px;
  max-width: 500px;
  background: #eee;
  border: 2px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.home-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.home-btn:hover {
  background: black;
}
